@import 'variables.scss';

.title {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: $blue-color;
  margin-bottom: 1.5rem;
  font-weight: 700;

  @media (min-width: $tablet-size-port) {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  @media (min-width: $tablet-size-land) {
    font-size: 2.2rem;
  }
}

.bg {
  background: linear-gradient(215deg, rgba(255, 255, 255, 0) 90%, #95c5ff 100%),
    linear-gradient(180deg, #ffffff2b 35%, #afc6ff 100%);
}

.overflow {
  overflow: hidden;
  padding-right: 17px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-weight: 500;
  color: #2e3036;
  line-height: 1.4;
  margin-top: 50px;
  background: linear-gradient(#fff, #f5f5f5);

  @media (min-width: $tablet-size-port) {
    margin-top: 0;
  }
}
